.dx-icon-plus {
    color: #2ecc71 !important;
  }


  .dx-icon-edit {
      color: #b2b2b2 !important;

      &:hover {
          color: #3498db !important;
      }
  }

  .dx-icon-trash {
    color: #b2b2b2 !important;

    &:hover {
        color: #c0392b !important;
    }
}

.dx-row.dx-row-lines {
    height: 24px;
}